@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.main-form {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-form {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-form h1 {
    font-size: 3vw;
    color: #77FFC0;
}

.left-form-image {
    width: 35vw;
}

.right-form {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background-color: #2F2841;
    border-radius: 22px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-form h1 {
    color: #00FF88;
    font-weight: 800;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #F0FFFFDE;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

.textfield label {
    color: #F0FFFFDE;
    margin-bottom: 10px;
}

.textfield input::placeholder {
    color: #F0FFFF94;
}

.btn-entrar {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00FF88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-entrar::hover {
    background-color: #F0FFFFDE;
}

.btn-cadastrar {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00FF88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-cadastrar::hover {
    background-color: #F0FFFFDE;
}

.btn-zoom {
    transition: transform 300ms;
}

.btn-zoom:hover {
    transform: scale(1.1);
}

@media only screen and (max-with: 950px) {
    .card-form {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-form {
        flex-direction: column;
        height: auto;
    }
    .left-form h1 {
        display: none;
        height: auto;
    }

    .left-form {
        width: 100%;
        height: auto;
    }

    .right-form {
        width: 100%;
        height: auto;
    }

    .left-form-image {
        width: 50vw;
    }

    .card-form {
        width: 90%;
    }
}
