{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Davi Kennedy & Bruno Rodrigues">
    <title>Projeto em dupla</title>
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
</head>

<body>
    <div class="main-form">
        <div class="left-form">
            <h1>Realize o seu cadastro<br>E junte-se à comunidade!</h1>
            <img src="{% static '/images/recipe-book-animate.svg' %}" class="left-form-image" alt="Promoção Animação">
        </div>
        <form name="form1" action="{% url 'cadastro' %}" method="POST"> {% csrf_token %}
            <div class="right-form">
                <div class="card-form">
                    <h1>CADASTRO</h1>
                    <div class="textfield">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" placeholder="Nome">
                    </div>
                    <div class="textfield">
                        <label for="cpf">CPF</label>
                        <input type="number" name="cpf" placeholder="CPF">
                    </div>
                    <div class="textfield" id="msg-email">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" placeholder="E-mail" onblur="validateEmail(form1.email)"
                            maxlenght="60">
                    </div>
                    <div class="textfield">
                        <label for="celular">Celular</label>
                        <input type="tel" name="celular" placeholder="Celular">
                    </div>
                    <!--<div class="textfield">
                            <label for="cep">CEP</label>
                            <input type="text" name="cep" placeholder="CEP">
                        </div>
                        <div class="textfield">
                            <label for="endereco">Endereço</label>
                            <input type="text" name="endereco" placeholder="Endereço">
                        </div>
                        <div class="textfield">
                            <label for="numero">Número</label>
                            <input type="text" name="numero" placeholder="Número">
                        </div>
                        <div class="textfield">
                            <label for="complemento">Complemento</label>
                            <input type="text" name="complemento" placeholder="Complemento">
                        </div>
                        <div class="textfield">
                            <label for="bairro">Bairro</label>
                            <input type="text" name="bairro" placeholder="Bairro">
                        </div>
                        <div class="textfield cidade">
                            <label for="cidade">Cidade</label>
                            <input type="text" name="cidade" placeholder="Cidade">
                        </div>
                        <div class="textfield estado">
                            <label for="estado">Estado</label>
                            <input type="text" name="cidade" placeholder="Estado">
                        </div>
                        {% include 'galeria/partials/_alertas.html' %}
                    -->
                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="Senha">
                    </div>
                    <div class="textfield">
                        <label for="senha-confirme">Confirme sua senha</label>
                        <input type="password" name="senha-confirme" placeholder="Confirme sua senha">
                    </div>
                    {% include 'galeria/partials/_alertas.html' %}
                    <button class="btn-cadastrar btn-zoom">Realizar cadastro</button>
                    <a href="{% url 'index' %}" target="_blank">Realizar Login</a>
                </div>
            </div>
        </div>
    </form>
    </div>
</body>

</html>