<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Davi Kennedy & Bruno Rodrigues">
    <title>Projeto em dupla</title>
    <link rel="stylesheet" type="text/css" href="../../setup/static/styles/style.css">
</head>
<body>
    <div class="main-form">
        <div class="left-form">
            <h1>Realize aqui o seu cadastro<br>E participe da promoção</h1>
        </div>
        <div class="right-form">
            <div class="card-form">
                <h1>CADASTRO</h1>
                <div class="textfield">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" placeholder="Insira aqui o seu nome">
                </div>
                <div class="textfield">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" placeholder="Insira aqui o seu e-mail">
                </div>
                <div class="textfield">
                    <label for="telefone">Telefone</label>
                    <input type="text" name="telefone" placeholder="Insira aqui o seu telefone">
                </div>
                <div class="textfield">
                    <label for="cpf">CPF</label>
                    <input type="text" name="cpf" placeholder="Insira aqui o seu CPF">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <button class="btn-enviar">Enviar</button>
            </div>
        </div>
    </div>
</body>
</html>