<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Davi Kennedy & Bruno Rodrigues">
    <title>Projeto em dupla</title>
    <link rel="stylesheet" type="text/css" href="../../setup/static/styles/style.css">
</head>
<body>
    <div class="main-form">
        <div class="left-form">
            <h1>Realize aqui o seu cadastro<br>E participe da promoção</h1>
        </div>
        <div class="right-form">
            <div class="card-form">
                <h1>CADASTRO</h1>
                <div class="textfield">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" placeholder="Nome">
                </div>
                <div class="textfield">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" placeholder="E-mail">
                </div>
                <div class="textfield">
                    <label for="telefone">Telefone</label>
                    <input type="text" name="telefone" placeholder="Telefone">
                </div>
                <div class="textfield">
                    <label for="cpf">CPF</label>
                    <input type="text" name="cpf" placeholder="CPF">
                </div>
                <div class="textfield">
                    <label for="cep">CEP</label>
                    <input type="text" name="cep" placeholder="CEP">
                </div>
                <div class="textfield">
                    <label for="endereco">Endereço</label>
                    <input type="text" name="endereco" placeholder="Endereço">
                </div>
                <div class="textfield">
                    <label for="numero">Número</label>
                    <input type="text" name="numero" placeholder="Número">
                </div>
                <div class="textfield">
                    <label for="complemento">Complemento</label>
                    <input type="text" name="complemento" placeholder="Complemento">
                </div>
                <div class="textfield">
                    <label for="bairro">Bairro</label>
                    <input type="text" name="bairro" placeholder="Bairro">
                </div>
                <div class="textfield">
                    <label for="cidade">Cidade</label>
                    <input type="text" name="cidade" placeholder="Cidade">
                </div>
                <div class="textfield">
                    <label for="estado">Estado</label>
                    <input type="text" name="cidade" placeholder="Cidade">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <button class="btn-enviar">Enviar</button>
            </div>
        </div>
    </div>
</body>
</html>